<app-navbar/>

<section class="characterSection">
  <mat-card *ngIf="character" class="characterCard">
    <mat-card-content>
      <div class="cardGrid">
        <div class="imageCardGrid">
          <img 
            [src]="character.image" 
            [alt]="character.name" 
            class="object-cover"
          >
        </div>
        <div>
          <h2 class="characterName">{{ character.name }}</h2>
          <div class="detailsGrid">
            <div>
              <p class="mb-2"><strong>Estado:</strong> {{ character.status | translateCharacter:'status' }}</p>
              <p class="mb-2"><strong>Especie:</strong> {{ character.species | translateCharacter:'species' }}</p>
              <p class="mb-2"><strong>Género:</strong> {{ character.gender | translateCharacter:'gender' }}</p>
            </div>
            <div>
              <p class="mb-2"><strong>Origen:</strong> {{ character.origin.name | translateCharacter: 'origin' }}</p>
              <p class="mb-2"><strong>Localización:</strong> {{ character.location.name | translateCharacter: 'location' }}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="recruitButton"
        *ngIf="!isRecruited"
        mat-raised-button 
        color="primary" 
        (click)="recruitCharacter()">
        Reclutar
        <img  src="./assets/images/portal.png"/>
      </button>
      <button 
        *ngIf="isRecruited"
        mat-raised-button 
        color="warn" 
        (click)="removeRecruitedCharacter()">
        Eliminar
        <mat-icon>remove_circle</mat-icon>
      </button>
      <button 
        mat-raised-button 
        color="secondary" 
        routerLink="/agentes">
        Volver
      </button>
    </mat-card-actions>
  </mat-card>
</section>
