<app-navbar/>
<section class="p-6">
  <div class="recruitCenter">
    <img src="./assets/images/nuevaciudadela.jpg" alt="citadelTower"/>
    <div class="recruitSpace">
      <p *ngIf="recruitedCharactersService.recruitedCharacters().length === 0" class="text-center">
        No hay personajes reclutados aún
      </p>
      <div class="characters-grid">
        <mat-card *ngFor="let character of recruitedCharactersService.recruitedCharacters()" 
                  class="hover:scale-105 transition-transform">
          <mat-card-header>
            <mat-card-title>{{ character.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="image-card" [src]="character.image" [alt]="character.name">
          
          <mat-card-actions>
            <button mat-raised-button color="warn" 
                    (click)="removeCharacter(character.id)">
              Eliminar
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  
</section>
