mat-toolbar {
    height: 100px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(251, 232, 149);
  }
  

  .navbarLogo img {
    height: 80px;
    cursor: pointer;
  }
  

  .navbarRight {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbarRight a {
    text-decoration: none;
    color: rgb(0, 121, 107);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
  }

  .navbarRight mat-icon {
   color: rgb(138, 138, 138);
  }
  
  .navbarTheme img {
    height: 70px;
  }
  
  .mobile-navbar {
    display: none;
  }
  
  .sidebar-container {
    display: none;
  }
  
@media (max-width: 950px) {
    .desktop-navbar {
      display: none;
    }
  
    .mobile-navbar {
      display: flex;
      height: 80px;
      padding: 10px;
      width: 100%;
    }
    
    .mobile-navbarRight {
      display: flex;
      font-size: 10px;
      align-items: center;
      gap: 10px;
      margin-top: 10px;

    }

    .mobile-navbarRight a{
      text-decoration: none;
      color: rgb(0, 121, 107);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 2px;
    }

    .navbarLogo img {
      height: 50px;
    }
  
    mat-list-item {
      color: rgb(0, 121, 107);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
  